.profile__add-button-cont {
    margin: auto;
    margin-right: 0;
    border: 1px solid #fff;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: opacity .3s linear;
}
@media screen and (max-width: 500px) {
    .profile__add-button-cont {
        margin: 36px auto 0;
        width: 282px;
    }
}

.profile__add-button-cont:hover {
    opacity: .6;
}
