.popup__save {
    background-color: #000;
    border-radius: 2px;
    border: none;
    width: 358px;
    height: 50px;
    margin: 48px auto 37px;
    transition: opacity .3s linear;
    cursor: pointer;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 320px) {
    .popup__save {
        width: 238px;
        height: 46px;
        margin: 45px auto 25px;
    }
}
.popup__save:hover {
    opacity: .8;
}
