.header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
    display: block;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin-left: 27px;
        width: 103.73px;
        height: 24.4px;
    }
}
