.profile__edit-button_cont {
    border: 1px solid #fff;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity .3s linear;
}

@media screen and (max-width: 500px) {
    .profile__edit-button_cont {
        width: 18px;
        height: 18px;
        padding: 0;
        align-self: center;
    }
}

.profile__edit-button_cont:hover {
    opacity: .6;
}
