    .profile__add-button {
        margin: 0;
        margin-left: auto;
        width: 150px;
        height: 50px;
        border: 2px solid #fff;
        background-image: url("../../../images/addbutton.svg");
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 2px;
        transition: opacity .3s linear;
        cursor: pointer;

}

    .profile__add-button:hover {
        opacity: 0.6;
    }

@media screen and (max-width: 768px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        margin-top: 33px;
        background-image: url("../../../images/addbutton-m.svg");
    }
}
