.profile__info {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

@media screen and (max-width: 500px) {
    .profile__info {
        row-gap: 10px;
        column-gap: 14px;
        margin-top: 26px;
    }
}


